body, input {
	background-color: white;
	color: black;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 11pt;
}

/** LINKS **/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;	
}

/** TABLES **/
th {
	text-align: left;
	vertical-align: top;
}

table.alternate tr:nth-child(2n) {
	background-color: #CCC;
}

td.numeric {
	text-align: right;
}

/** CLASSES **/
p.message {
	font-weight: bold;
	border: 1px solid black;
	padding: 0.3ex 0.3em;
	margin: 0.7ex 0em;
}
.notice {
	background-color: #0f0;
}
.warning {
	background-color: yellow;
}
p.error {
	background-color: red;
}

.marked {
	background-color: red;
}

.menu ul {
	list-style: none;
	padding: 0px;
}

.pre {
	white-space: pre;
}

#content{
	float:left;
/*	margin-left: 16em;*/
}

#footer {
	clear:both;
	padding: 0.5ex 1em;
}

.menu {
/*	position: absolute;
	left: 1em;
	top: 3ex;*/
	display: inline;
	float: left;
	width: 202px;
	margin-right:1em;
}

.menu > *{
	max-width: 14em;
}

.menu > * *{
	max-width: 12em;
}
	

legend {
	font-weight: bold;
	font-size: 130%;
}

fieldset {
	background-color: #FAFAFA;
}

input:disabled {
	background-color: #CCC;
}

fieldset.hidden * {
	display: none;
}
fieldset.hidden > legend {
	display: block;
}
